# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     May 14 2021 11:46:48

# Family & Device:    iCE40HX1K

# Package:            VQ100

# ##############################################################################

###MergeFF List 6
set_io_ff FLASH_A[13] -out OFF
set_io_ff FLASH_A[14] -out OFF
set_io_ff FLASH_A[15] -out OFF
set_io_ff FLASH_A[16] -out OFF
set_io_ff FLASH_A[17] -out OFF
set_io_ff FLASH_A[18] -out OFF

###IOSet List 56
set_io A[10] 85 -io_std SB_LVCMOS
set_io A[11] 83 -io_std SB_LVCMOS
set_io A[12] 82 -io_std SB_LVCMOS
set_io A[13] 81 -io_std SB_LVCMOS
set_io A[2] 97
set_io A[3] 96
set_io A[4] 95
set_io A[9] 86 -io_std SB_LVCMOS
set_io BL 51 -io_std SB_LVCMOS
set_io D[0] 74 -io_std SB_LVCMOS
set_io D[1] 73 -io_std SB_LVCMOS
set_io D[2] 72 -io_std SB_LVCMOS
set_io D[3] 71 -io_std SB_LVCMOS
set_io D[4] 69 -io_std SB_LVCMOS
set_io D[5] 68 -io_std SB_LVCMOS
set_io D[6] 66 -io_std SB_LVCMOS
set_io D[7] 65 -io_std SB_LVCMOS
set_io ETH_CMD 21 -io_std SB_LVCMOS
set_io FIQ 63 -io_std SB_LVCMOS
set_io FLASH_A[13] 40 -io_std SB_LVCMOS
set_io FLASH_A[14] 27 -io_std SB_LVCMOS
set_io FLASH_A[15] 36 -io_std SB_LVCMOS
set_io FLASH_A[16] 30 -io_std SB_LVCMOS
set_io FLASH_A[17] 28 -io_std SB_LVCMOS
set_io FLASH_A[18] 29 -io_std SB_LVCMOS
set_io FPGA_CLK 15 -io_std SB_LVCMOS
set_io FPGA_DEBUG1 41 -io_std SB_LVCMOS
set_io FPGA_DEBUG2 42 -io_std SB_LVCMOS
set_io FPGA_DEBUG3 4 -io_std SB_LVCMOS
set_io FPGA_SCK 48
set_io FPGA_SDI 46
set_io FPGA_SDO 45 -io_std SB_LVCMOS
set_io FPGA_SS2 13
set_io IOGT 7 -io_std SB_LVCMOS
set_io IRQ 60 -io_std SB_LVCMOS
set_io MCU_IRQ 10
set_io RST 18
set_io SERIAL_DTR 1 -io_std SB_LVCMOS
set_io SERIAL_RTS 59 -io_std SB_LVCMOS
set_io SERIAL_TXD 26 -io_std SB_LVCMOS
set_io nECONET_FIQ 78 -io_std SB_LVCMOS
set_io nECONET_SEL 9 -io_std SB_LVCMOS
set_io nETH_CS 25 -io_std SB_LVCMOS
set_io nETH_IRQ 24 -io_std SB_LVCMOS
set_io nETH_RE 19 -io_std SB_LVCMOS
set_io nETH_WE 20 -io_std SB_LVCMOS
set_io nFLASH_CE 8 -io_std SB_LVCMOS
set_io nFPGA_SS 49
set_io nIOC_SEL 79 -io_std SB_LVCMOS
set_io nIO_RESET 16 -io_std SB_LVCMOS
set_io nMCU_RESET 12 -io_std SB_LVCMOS
set_io nOE_ADDR 57 -io_std SB_LVCMOS
set_io nOE_DATAIN 53 -io_std SB_LVCMOS
set_io nOE_DATAOUT 52 -io_std SB_LVCMOS
set_io nRE 99 -io_std SB_LVCMOS
set_io nWE 80 -io_std SB_LVCMOS

